.css-1nbgtrs .css-1kxonj9 {
  display: flex;
  align-items: center;
}

.css-1nbgtrs label {
  margin: 0 5px 0px 0px;
}

img.mainlogo {
  width: 135px;
}

.css-1f8sh1y p.chakra-text.css-5s985 {
  font-size: 15px;
  width: 100%;
}

.css-1f8sh1y .css-1hy9gaa {
  width: 100px;
}

button.chakra-button.css-j3xohg {
  justify-content: flex-start;
}

button.chakra-button.css-17ztfu6 {
  justify-content: flex-start;
}
